@use "variables";

.work_details_container {
    padding: 100px 20px;
    .description_container {
        text-align: center;
        margin-bottom: 50px;
        h1 {
            font-size: 2.2rem;
            
        }
        h2 {
            margin-bottom: 40px;
            font-weight: 400;
            font-style: italic;
        }
        p {
            display: flex;
            text-align: left;
            font-size: 1.2rem;
            line-height: 2rem;
            font-weight: 100;
            margin-bottom: 2em;
            padding: 2rem;
            border-radius: 20px;
            border: 2px
            solid transparent;
            border-radius: 20px;
            background-image: linear-gradient(to right, #000000, #ffffff22), 
                          linear-gradient(to right, #ffffff, #000000);
            background-origin: border-box;
            background-clip: padding-box, border-box;

            background-color: rgba(222, 184, 135, 0.159);
            width: auto;
            // text-align: justify;
        }
    }
    .cover_img {
        width: 100%;
        height: auto;
        border: 2px
        solid transparent;
        border-radius: 20px;
        background-image: linear-gradient(to right, #000000, #000000), 
                          linear-gradient(to right, #ffffff, #000000);
        background-origin: border-box;
        background-clip: padding-box, border-box;
    }
}

@media (max-width: 600px) {
    .work_details_container {
        padding: 0rem 20px;
        .description_container {
            h1 {
                // background-color: blanchedalmond;
                // margin-top: 50px;
                text-align: left;
            }
            h2 {
                font-size: 1.2rem;
                margin-bottom: 20px;
                font-weight: 100;
                text-align: left;
                font-style: italic;
            }
            p {
                font-size: 1rem;
                line-height: 1.4rem;
                padding: 0 0px;
                text-align: left;
            }
        }
    }
}
